$card-font-color: #f2ede3;
$top-padding: 15px;

.card-start {
  //padding: 2px;
  //padding: 10px;
  color: $card-font-color;
  position: absolute;
  top: 0px;
  left: 0px;
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.card-content {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  //box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //border: 2px solid lightgray;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.card-content:hover {
  //border: 2px solid #adadad;
  //box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-interior {
  width: 100%;
  min-height: 100%;
  padding-top: $top-padding;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.hover-helper-main-card, .hover-helper-main-card .cover-heading {
  //-webkit-transition: 0.8s;
  //-moz-transition: 0.8s;
  //-ms-transition: 0.8s;
  //-o-transition: 0.8s;
  //transition: 0.8s;
}

.hover-helper-main-card:hover, .hover-helper-main-card:hover .cover-heading {
  padding-top: 20px !important;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.hover-helper-main-card:hover .cover-heading div {
  //background-color: rgba(0,0,0,.8);
}


.card-text {
  border-top: 3px solid $card-font-color;
  padding-top: 0.5em;

}

.card-start .card-interior-fade, .card-start .fa-fade {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

.card-end .card-interior-fade {
  opacity: 1;
}

.card-end .fa-fade {
  opacity: 1;
}

.card-end {
  z-index: 1000;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;

}

.card-end .card-content {
  overflow-y: auto;
  cursor: default;
}

.card-close {
  padding: $top-padding 40px 0px 40px;
  text-align: right;

}

$card-close-scale: 1.4;

.card-close .fa {
  cursor: pointer;
  font-size: 1.75rem;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  z-index: 1;
}


.card-close .fa:hover {
  -webkit-transform: scale($card-close-scale);
  -moz-transform: scale($card-close-scale);
  -o-transform: scale($card-close-scale);
  -ms-transform: scale($card-close-scale);
  transform: scale($card-close-scale);
}

.cover-heading div {
  padding: $top-padding 10px 10px 40px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.card-holder h3 {
  opacity: 1.0;
}

.card-holder h3 .fa {
  background-color: transparent;
}

$card-start-heading-transition-time: all .8s ease-in-out;
.card-start .cover-heading {
  z-index: 999;

  position: absolute;
  top: 10px;
  left: 0px;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;

  font-weight: bold;
}

$card-end-heading-transition-time: all .8s ease-in-out;
.card-end .cover-heading {
  z-index: 999;
  top: 10px;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;

}

.main-card {
  height: 100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;

}

.card-holder {
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}

$btn-transition: 0.25s;
.btn {
  -webkit-transition: $btn-transition;
  -moz-transition: $btn-transition;
  -ms-transition: $btn-transition;
  -o-transition: $btn-transition;
  transition: $btn-transition;
}